<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="index :: head">
    <meta charset="UTF-8">
    <title>Tabela</title>
</head>
<body>


<header th:replace="index :: header"></header>

<div style="text-align: center;">


    <br>
    <br>
    <form id="page_size" style="alignment: center" th:action="@{/table_clients}">

        <label for="entries_per_page">Entries per page: </label>
        <input type="number"  id="entries_per_page" name="entries_per_page" th:value="${entries_per_page}" th:valuetype="Integer" >
        <input type="submit" value="Update">
    </form>

    <table id="common_table">

        <thead>
            <th>ID</th>
            <th>Imię</th>
            <th>Drugie imię</th>
            <th>Nazwisko</th>
            <th>PESEL</th>
            <th>NIP</th>

            <th></th> <!-- for edit -->
            <th></th> <!--for delete -->
        </thead>
        <tbody>
            <!--/*@thymesVar id="data" type="java.lang.Iterable<pl.gmail.slawekwaga.maliny_cloud.db.Klienci>"*/-->

             <!-- <th>ID</th>
            <th>Imię</th>
            <th>Drugie imię</th>
            <th>Nazwisko</th>
            <th>PESEL</th>
            <th>NIP</th> -->
                <tr th:each="record : ${data}">
                <td th:text="${record.id}"></td>
                <td th:text="${record.imie}"></td>
                <td th:text="${record.drugieImie}"></td>
                <td th:text="${record.nazwisko}"></td>
                <td th:text="${record.pesel}"></td>
                <td th:text="${record.nip}"></td>
            </tr>
        </tbody>
    </table>



    <form id="page_control" style="alignment: center" th:action="@{/table_clients}">
        <input type="hidden" id="totalPages" name="totalPages" th:value="${totalPages}" th:valuetype="Integer" readonly>
        <input type="hidden" id="controlAction" name="controlAction" value="">
        <input type="hidden" name="curPage" th:value="${pageNum}" th:valuetype="Integer" readonly>
        <input type="submit" class="page_control" id="first" name="first" value="|&lt" th:disabled="${pageNum < 3}">
        <input type="submit" class="page_control" id="prev" name="previous" value="&lt" th:disabled="${pageNum < 2}">

        <label for="page">Go to page: </label>
        <input type="number"  id="page" name="goto_page" th:value="${pageNum}" th:valuetype="Integer">
        <input type="submit" class="page_control" id="next" name="next" value="&gt"  th:disabled="${pageNum>=totalPages}">
        <input type="submit" class="page_control" id="last" name="last" value="&gt|" th:disabled="${pageNum>=totalPages - 1}" >
        <input type="submit" class="page_control" name="goto_button" value="Go to">



    </form>

    <script>
        $(".page_control").click(function () {
            $("#controlAction").val($(this).attr("name").val());
            return true;
        })

    </script>

</div>


<footer th:replace="index :: footer"></footer>
</body>
</html>
